# Virtual environment
env/
venv/
ENV/
*.pyc
__pycache__/
*.pyo
*.pyd

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
*.mo
*.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Git
*.swp
*.lock
*.bak

#*.h5
*.pt
#*.pkl
*.ckpt


