# Virtual environment
env/
venv/
ENV/
*.pyc
__pycache__/
*.pyo
*.pyd

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
*.mo
*.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Git
*.swp
*.lock
*.bak

# Model files tracked via Git LFS
*.h5
*.pt
*.pkl
*.ckpt

# VS Code Jupyter notebooks metadata
.ipynb_checkpoints/

# TensorFlow cache and checkpoints
checkpoint
*.ckpt.*
events.out.tfevents.*

# Librosa temp files
librosa_cache/

# Optional - Ignore test reports
htmlcov/
coverage.xml
*.cover
*.coverage

# If you use gunicorn locally
gunicorn.pid
